* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    list-style: none;
    text-decoration: none;
}

#check{
  display: none;
}

.images{
  display: none;
}

body {
    background: rgb(248, 248, 248);
}

/* Header */
nav {
  height: 10vh;
  width: 100%;
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 5px 0px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(255, 255, 255);
  z-index: 100;
}

.header-title {
  font-weight: 600;
  color: #FBFBFB;
  font-size: 2.1em;
  background: -webkit-linear-gradient(#60cfff, #60cfff, #169ad3, #169ad3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul .rodape{
  display: none;
}

nav ul li a{
  color: rgb(22, 154, 211);
  font-size: 1.1em;
  border: 3px solid rgb(22, 154, 211);
  padding: 10px 25px;
  border-radius: 35px;
  font-weight: 600;
}

nav ul li a:hover{
  background: rgb(22, 154, 211);
  color: white;
  transition: background 0.4s ease;
}

.menu-btn{
  cursor: pointer;
  display: none;
}

/* End of header */
/* Video */
.video-box {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.video-txt {
  width: 800px;
  height: 600px;
}

.txt-fiting {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 20px;
}

.video-txt h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
  letter-spacing: 15px;
  color: black;
  background: #1db6f8;
}

.video-txt p {
  font-size: 1.5em;
}

.tips {
  font-size: 1.4em;
  width: 90%;
  height: 100%;
  line-height: 1.8em;
}

.vid-span {
  color: #25ade7;
  font-weight: 900;
}

.tips .tip-span {
  color: rgb(38, 176, 235);
  font-weight: 900;
}


.video video {
  border: 10px solid rgb(248, 248, 248);
  top: 128px;
  width: 25rem;
  height: 43rem;
  position: absolute;
}

.shadow-video {
  position: relative;
  top: 30px;
  left: 16px;
  width: 25rem;
  height: 43rem;
  border: 10px solid #1db6f8;
  z-index: -1;
  margin-right: 3rem;
}

/* End video */

/* Media Query */
@media (max-width: 1300px){
  .menu-btn{
    display: block;
  }

  .close-btn{
    display: none;
  }

  .images {
    display: block;
  }

  nav ul{
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    text-align: center;
    transition: color .5s;
    z-index: 99;
    transition: 0.1s ease;
    margin: 0;
  }

  nav ul li{
    display: block;
    margin: 0;
    border-bottom: 2px solid black;
  }

  nav ul li{
    align-items: end;
  }

  nav ul li a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border-radius: 0;
    background: whitesmoke;
    border: none;
    font-size: 2rem;
  }

  nav ul .rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border: none;
    padding: 10px 25px;
    font-size: 1.5rem;
    border-bottom: 2px solid black;
    background:#1152a6;
  }

  nav ul .rodape a{
    font-size: 2rem;
    color: whitesmoke;
    font-weight: 600;
  }

  a:active, a:hover{
    background: none;
    color:rgb(22, 154, 211);
  }

  .rodape:active, .rodape:hover{
    background: #0e4387;
  }

  input{
    display: block;
  }

  #check:checked ~ul{
    top: 80px;
    transition: 0.1s ease;
  }

  #check:checked ~label .menu-btn{
    display: none;
  }
  #check:checked ~label .close-btn{
    display: block;
  }

  .video-box {
    margin-top: 5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: center;
    width: 100%;
  }

  .video-txt{
    width: 50%;
    font-size: smaller;
  }

  .video video{
    border: none;
    position: static;
    z-index: 0;
    height: 600px;
  }

  .shadow-video{
    display: none;
  }
}